<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--edit child -->
  <div class="field">
    <%= f.label :CLastName %><br>
    <%= f.text_area :CLastName %>
  </div>
  <div class="field">
    <%= f.label :CFirstName %><br>
    <%= f.text_area :CFirstName %>
  </div>
  <div class="field">
    <%= f.label :Age %><br>
    <%= f.text_area :Age %>
  </div>
  <div class="field">
    <%= f.label :Date %><br>
    <%= f.date_select :Date %>
  </div>
  <div class="field">
    <%= f.label :Notes %><br>
    <%= f.text_area :Notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<!--edit vitals -->
<!--form links -->
  <table>
  <thead>
    <tr>
      <th>Height</th>
      <th>Weight</th>
      <th>HeadCircumference</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     
    <% @child.vitals.each do |vital| %>
      <tr>
        <td><%= vital.Height %></td>
        <td><%= vital.Weight %></td>
        <td><%= vital.HeadCircumference %></td>
        <td><%= vital.Date %></td>
        <td><%= link_to 'Show', {:controller => "vital" , :action => "show", :id => vital.id} %></td>
        <td><%= link_to 'Edit', {:controller => "vital" , :action => "edit", :id => vital.id} %></td>
        <td><%= link_to 'Destroy', vital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--parent -->
<table>
  <thead>
    <tr>
      <th>PLastName</th>
      <th>PFirstName</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @child.parents.each do |parent| %>
      <tr>
        <td><%= parent.PLastName %></td>
        <td><%= parent.PFirstName %></td>
        <td><%= parent.Email %></td>
        <td><%= parent.Phone %></td>
        <td><%= link_to 'Show', parent %></td>
        <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
        <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
